XML/31_ResponseOptions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="_x0033_1_ResponseOptions" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="_x0033_1_ResponseOptions">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="ConceptID" index-key="OptionConceptID " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="ID" index-key="OptionID " primary="yes" unique="yes" clustered="no" order="asc"/>
<od:index index-name="LangaugeID" index-key="OptionLanguage " primary="no" unique="no" clustered="no" order="asc"/>
<od:tableProperty name="GUID" type="9" value="UKAl39D9TEKZ5W6PUnIsrw==
"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="OrderByOn" type="1" value="0"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAABQoCXf0P1MQpnlbo9SciyvAAAAAPOTauf0PuZAAAAAAAAAAAAzADEA
XwBSAGUAcwBwAG8AbgBzAGUATwBwAHQAaQBvAG4AcwAAAAAAAAA1b8hzrJckTKfs
Gd9+lLFMAAAAAHCi0se0MuZAAAAAAAAAAAAzADIAXwBDAG8AZABlAGIAbwBvAGsA
TwBwAHQAaQBvAG4ATQBhAHAAAAAAAAAAk5FEkdgphkm/MZcosFcuegcAAABQoCXf
0P1MQpnlbo9SciyvTwBwAHQAaQBvAG4ASQBEAAAAAAAAAJI581nDJghHgugErUE/
khQAAAAALasSyfQ+5kAAAAAAAAAAADMANABfAFIAZQBzAHAAbwBuAHMAZQBPAHAA
dABpAG8AbgBDAG8AbgBjAGUAcAB0AHMAAAAAAAAA1ahIKBGJDUCzXYWFdPyx1QcA
AACSOfNZwyYIR4LoBK1BP5IUTwBwAHQAaQBvAG4AQwBvAG4AYwBlAHAAdABJAEQA
AAAAAAAApvhVkQC430SLeEebN4LFGQcAAACSOfNZwyYIR4LoBK1BP5IUTwBwAHQA
aQBvAG4AQwBvAG4AYwBlAHAAdAAAAAAAAAC0QSdoS+S1TaTpZNK76frMBwAAAFCg
Jd/Q/UxCmeVuj1JyLK9PAHAAdABpAG8AbgBDAG8AbgBjAGUAcAB0AEkARAAAAAAA
AAB1cUi9x8cuRKw264gOd0lrAAAAAFGMj9gYK+ZAAAAAAAAAAAA5ADAAXwBMAGEA
bgBnAHUAYQBnAGUAcwAAAAAAAAA753aBf0YwS7E5PnC4bhoZBwAAAHVxSL3Hxy5E
rDbriA53SWtMAGEAbgBnAGEAdQBnAGUASQBEAAAAAAAAAC8X+9kFp7ZOob5aZoKb
4GsHAAAAdXFIvcfHLkSsNuuIDndJa0wAYQBuAGcAdQBhAGcAZQAAAAAAAAAyu+vF
DoLoTqrKXZxq9OavBwAAAFCgJd/Q/UxCmeVuj1JyLK9PAHAAdABpAG8AbgBMAGEA
bgBnAHUAYQBnAGUAAAAAAAAABu8myMnBnUS9yBUwgmbCQgcAAABQoCXf0P1MQpnl
bo9SciyvTwBwAHQAaQBvAG4AVABlAHgAdAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
DAAAAAUAAAAAAAAAAAAAAAAAAAAAAA==
"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
<od:tableProperty name="TotalsRow" type="1" value="0"/>
<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
<od:tableProperty name="HideNewField" type="1" value="0"/>
<od:tableProperty name="BackTint" type="6" value="100"/>
<od:tableProperty name="BackShade" type="6" value="100"/>
<od:tableProperty name="ThemeFontIndex" type="4" value="-1"/>
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="-1"/>
<od:tableProperty name="AlternateBackTint" type="6" value="100"/>
<od:tableProperty name="AlternateBackShade" type="6" value="100"/>
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="-1"/>
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="-1"/>
<od:tableProperty name="PublishToWeb" type="2" value="1"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OptionID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnOrder" type="3" value="1"/>
<od:fieldProperty name="GUID" type="9" value="k5FEkdgphkm/MZcosFcueg==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OptionConceptID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="tEEnaEvktU2k6WTSu+n6zA==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2025"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [34_ResponseOptionConcepts].[OptionConceptID], [34_ResponseOptionConcepts].[OptionConcept] FROM 34_ResponseOptionConcepts ORDER BY [OptionConceptID]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;1440"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="1440twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="This is a foreign key for the option concept table. Allows us to track when codebook changes were langauge or conceptual."/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OptionLanguage" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="MrvrxQ6C6E6qyl2cavTmrw==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [90_Languages].LangaugeID, [90_Languages].Language FROM 90_Languages ORDER BY [Language]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;1440"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="1440twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
<od:fieldProperty name="Description" type="10" value="This is the language of the option."/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OptionText" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Format" type="10" value="@"/>
<od:fieldProperty name="GUID" type="9" value="Bu8myMnBnUS9yBUwgmbCQg==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2655"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
<od:fieldProperty name="Description" type="10" value="This is the displayed text in the codebook."/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
