rcads/data/xml/05_EntityGroupMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="_x0030_5_EntityGroupMap" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="_x0030_5_EntityGroupMap">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="EntityGroupID" index-key="EntityGroupID " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="EntityGroupMapID" index-key="EntityGroupMapID " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="EntityID" index-key="EntityID " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PrimaryKey" index-key="EntityGroupMapID " primary="yes" unique="yes" clustered="no" order="asc"/>
<od:tableProperty name="GUID" type="9" value="1EfA4AIB50C3rqEgMk+oxw==
"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="OrderByOn" type="1" value="1"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAADUR8DgAgHnQLeuoSAyT6jHAAAAADC/NjyNQOZAAAAAAAAAAAAwADUA
XwBFAG4AdABpAHQAeQBHAHIAbwB1AHAATQBhAHAAAAAAAAAAQ7kgJNlKnECsxZQk
e329+wcAAADUR8DgAgHnQLeuoSAyT6jHRQBuAHQAaQB0AHkARwByAG8AdQBwAE0A
YQBwAEkARAAAAAAAAABYfwX/ttBTR6LYhQacp+kvAAAAAF0SBEaNQOZAAAAAAAAA
AAAwADQAXwBFAG4AdABpAHQAeQBHAHIAbwB1AHAAcwAAAAAAAABcaAe8QAw3RLh7
PwlrJZkGBwAAAFh/Bf+20FNHotiFBpyn6S9FAG4AdABpAHQAeQBNAGEAcABwAGkA
bgBnAEkARAAAAAAAAADt/CYA396IT4pGPJW0V8i6BwAAAFh/Bf+20FNHotiFBpyn
6S9FAG4AdABpAHQAeQBMAGkAcwB0AE4AYQBtAGUAAAAAAAAA8yssSPzLpU+oTYoW
cl8CjQcAAADUR8DgAgHnQLeuoSAyT6jHRQBuAHQAaQB0AHkARwByAG8AdQBwAEkA
RAAAAAAAAAC/p/jnjz66S79UVJrfxTFkAAAAAG3KFTYWQOZAAAAAAAAAAAAxADAA
XwBJAG4AcwB0AHIAdQBtAGUAbgB0AHMAAAAAAAAAG2+0b+/goUCCNlrpk6Lk5gcA
AAC/p/jnjz66S79UVJrfxTFkSQBuAHMAdAByAHUAbQBlAG4AdABJAEQAAAAAAAAA
LUK6McrzYEmhoedrOXAnGgcAAAC/p/jnjz66S79UVJrfxTFkSQBuAHMAdAByAHUA
bQBlAG4AdABOAGEAbQBlAAAAAAAAAJxOf0Z3wkdKkr4TvAEK/isHAAAA1EfA4AIB
50C3rqEgMk+ox0UAbgB0AGkAdAB5AEkARAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
DAAAAAUAAAAAAAAAAAAAAAAAAAAAAA==
"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
<od:tableProperty name="TotalsRow" type="1" value="0"/>
<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
<od:tableProperty name="HideNewField" type="1" value="0"/>
<od:tableProperty name="BackTint" type="6" value="100"/>
<od:tableProperty name="BackShade" type="6" value="100"/>
<od:tableProperty name="ThemeFontIndex" type="4" value="1"/>
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1"/>
<od:tableProperty name="AlternateBackTint" type="6" value="100"/>
<od:tableProperty name="AlternateBackShade" type="6" value="95"/>
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3"/>
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0"/>
<od:tableProperty name="PublishToWeb" type="2" value="1"/>
<od:tableProperty name="OrderBy" type="12" value="[Lookup_EntityGroupID].[EntityListName], [Lookup_EntityID].[InstrumentName]"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EntityGroupMapID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="Q7kgJNlKnECsxZQke329+w==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="1"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EntityGroupID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="8yssSPzLpU+oTYoWcl8CjQ==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="6735"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [04_EntityGroups].[EntityMappingID], [04_EntityGroups].[EntityListName] FROM 04_EntityGroups ORDER BY [EntityListName]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;1440"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="1440twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EntityID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="nE5/RnfCR0qSvhO8AQr+Kw==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2565"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [10_Instruments].[InstrumentID], [10_Instruments].[InstrumentName] FROM 10_Instruments ORDER BY [InstrumentName]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;1440"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="1440twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
