rcads/data/xml/05_EntityGroupMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="_x0030_5_EntityGroupMap" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="_x0030_5_EntityGroupMap">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="EntityGroupID" index-key="EntityGroupID " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="EntityGroupMapID" index-key="EntityGroupMapID " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="EntityID" index-key="EntityID " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PrimaryKey" index-key="EntityGroupMapID " primary="yes" unique="yes" clustered="no" order="asc"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="OrderByOn" type="1" value="0"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAAA/nhIRPS7SQZSDUqaiNj2fAAAAACH0HiLyYeZAAAAAAAAAAAAwADUA
XwBFAG4AdABpAHQAeQBHAHIAbwB1AHAATQBhAHAAAAAAAAAAyqbc8ONyREWnEZ+l
dB1GFQcAAAA/nhIRPS7SQZSDUqaiNj2fRQBuAHQAaQB0AHkARwByAG8AdQBwAE0A
YQBwAEkARAAAAAAAAAD9wMSij8ZbRZqxpAuCpdLzAAAAABnLQ+g1auZAAAAAAAAA
AAAwADQAXwBFAG4AdABpAHQAeQBHAHIAbwB1AHAAcwAAAAAAAADff20Yj70GQrGs
8e+F3mM9BwAAAP3AxKKPxltFmrGkC4Kl0vNFAG4AdABpAHQAeQBNAGEAcABwAGkA
bgBnAEkARAAAAAAAAACP0cBV6LvrSL4AbsfBQLOyBwAAAP3AxKKPxltFmrGkC4Kl
0vNFAG4AdABpAHQAeQBMAGkAcwB0AE4AYQBtAGUAAAAAAAAAA44ZiTiHX0+4iDAf
zZR/4gcAAAA/nhIRPS7SQZSDUqaiNj2fRQBuAHQAaQB0AHkARwByAG8AdQBwAEkA
RAAAAAAAAADqDec7QN1lTaMTX+lsaExNAAAAABpC4+Y1auZAAAAAAAAAAAAxADAA
XwBJAG4AcwB0AHIAdQBtAGUAbgB0AHMAAAAAAAAAIuaO4wweh0+9QQUD8n4U0AcA
AADqDec7QN1lTaMTX+lsaExNSQBuAHMAdAByAHUAbQBlAG4AdABJAEQAAAAAAAAA
cFoijMUfgUG7HP9NhzQyVQcAAADqDec7QN1lTaMTX+lsaExNSQBuAHMAdAByAHUA
bQBlAG4AdABOAGEAbQBlAAAAAAAAAFM11qdf8oNKvqckNENSahwHAAAAP54SET0u
0kGUg1KmojY9n0UAbgB0AGkAdAB5AEkARAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
DAAAAAUAAAAAAAAAAAAAAAAAAAAAAA==
"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
<od:tableProperty name="TotalsRow" type="1" value="0"/>
<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
<od:tableProperty name="HideNewField" type="1" value="0"/>
<od:tableProperty name="BackTint" type="6" value="100"/>
<od:tableProperty name="BackShade" type="6" value="100"/>
<od:tableProperty name="ThemeFontIndex" type="4" value="1"/>
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1"/>
<od:tableProperty name="AlternateBackTint" type="6" value="100"/>
<od:tableProperty name="AlternateBackShade" type="6" value="95"/>
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3"/>
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0"/>
<od:tableProperty name="PublishToWeb" type="2" value="1"/>
<od:tableProperty name="GUID" type="9" value="P54SET0u0kGUg1KmojY9nw==
"/>
<od:tableProperty name="Filter" type="12" value="([Lookup_EntityGroupID].[EntityListName] Like &quot;*FR*&quot;)"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EntityGroupMapID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="1"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
<od:fieldProperty name="Description" type="10" value="ID for the relationship between a member and its group"/>
<od:fieldProperty name="GUID" type="9" value="yqbc8ONyREWnEZ+ldB1GFQ==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EntityGroupID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="8890"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [04_EntityGroups].[EntityMappingID], [04_EntityGroups].[EntityListName] FROM 04_EntityGroups ORDER BY [EntityListName]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;1440"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="1440twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="The entity group"/>
<od:fieldProperty name="GUID" type="9" value="A44ZiTiHX0+4iDAfzZR/4g==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EntityID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="2565"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [10_Instruments].[InstrumentID], [10_Instruments].[InstrumentName] FROM 10_Instruments ORDER BY [InstrumentName]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;1440"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="1440twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="One member of the entity group"/>
<od:fieldProperty name="GUID" type="9" value="UzXWp1/yg0q+pyQ0Q1JqHA==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
